    <!-- Menu -->
    <aside class="sidebar">
        <div class="sidebar-header">
            <h2>Network Config</h2>
        </div>
        <div class="sidebar-menu">
            <a href="{{ url_for('dashboard') }}" class="menu-item active">
                <i class="fas fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
            <a href="{{ url_for('dashboard_list_version') }}" class="menu-item">
                <i class="fas fa-network-wired"></i>
                <span>Configuraciones</span>
            </a>
            <a href="{{ url_for('list_device') }}" class="menu-item">
                <i class="fas fa-server"></i>
                <span>Equipos</span>
            </a>
            
            {% if current_user.is_admin %}
            <a href="{{ url_for('documentacion') }}" class="menu-item">
                <i class="fas fa-book"></i>
                <span>Documentación</span>
            </a>

            <a href="{{ url_for('user_management') }}" class="menu-item">
                <i class="fas fa-users-cog"></i>
                <span>Administración de Usuarios</span>
            </a>
            {% endif %}
        </div>
    </aside>